WCF 软件/Subscriber/Service References/WcfDuplexService/FormPublisher1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FormPublisher" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPublisher_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9998/WcfDuplexService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9998/WcfDuplexService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublisher_Subscriber_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscriber" />
  </wsdl:message>
  <wsdl:message name="IPublisher_UnSubscriber_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscriber" />
  </wsdl:message>
  <wsdl:message name="IPublisher_PublishMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PublishMessage" />
  </wsdl:message>
  <wsdl:portType name="IPublisher">
    <wsdl:operation name="Subscriber">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublisher/Subscriber" message="tns:IPublisher_Subscriber_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscriber">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublisher/UnSubscriber" message="tns:IPublisher_UnSubscriber_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IPublisher/PublishMessage" message="tns:IPublisher_PublishMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPublisher" type="tns:IPublisher">
    <wsp:PolicyReference URI="#NetTcpBinding_IPublisher_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscriber">
      <soap12:operation soapAction="http://tempuri.org/IPublisher/Subscriber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnSubscriber">
      <soap12:operation soapAction="http://tempuri.org/IPublisher/UnSubscriber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PublishMessage">
      <soap12:operation soapAction="http://tempuri.org/IPublisher/PublishMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FormPublisher">
    <wsdl:port name="NetTcpBinding_IPublisher" binding="tns:NetTcpBinding_IPublisher">
      <soap12:address location="net.tcp://localhost:9999/WcfDuplexService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9999/WcfDuplexService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>